In [2]:
from utils import load_json

In [14]:
train = load_json(base, 'train/train_author.json')#train_author中一共有160个名字
train_pub = load_json(base, 'train/train_pub.json')

len(train),len(train_pub)

(160, 73835)

In [15]:
train_aid = set()
train_pid = set()
for i in train:
    for k in list(train[i].keys()):
        train_aid.add(k)
    for v in list(train[i].values()):
        for j in v:
            train_pid.add(j)

In [16]:
len(train_aid),len(train_pid)#train_author.json中共有2595位作者，名字有160个，train_author.json论文数目73835，与train_pub中对应

(2595, 73835)

In [17]:
coname_length = {}

for i in train:
    coname_length[i] = (len(train[i]))

In [18]:
coname_len = sorted([(k,v) for k,v in coname_length.items()],key=lambda x: x[1])
#trian中重名最少的是('guanhua_du', 1)，最多的是('wei_chen', 96)

In [19]:
sum([v for v in coname_length.values()])/len(coname_len)#同名作者均值16.2

16.21875

In [20]:
alon_pubs = {}
for i in train:
    for k in list(train[i].keys()):
        alon_pubs[k] = len(train[i][k])

In [21]:
aid2pubs = sorted([(k,v) for k,v in alon_pubs.items()],key=lambda x: x[1])
print(aid2pubs[0])
print(aid2pubs[-1])
#trian中作者发表最少的是('8N4yGrlD', 5)，最多的是('RnilQMMR', 602)

('8N4yGrlD', 5)
('RnilQMMR', 602)

In [22]:
sum([v for v in alon_pubs.values()])/len(alon_pubs)#平均发表28.56

28.56146435452794

In [23]:
co_pubs = {}
for i in train:
    count = 0
    for k in list(train[i].keys()):
        count += len(train[i][k])
    co_pubs[i] = count

In [24]:
name2pubs = sorted([(k,v) for k,v in co_pubs.items()],key=lambda x: x[1])
print(name2pubs[0])
print(name2pubs[-1])
#trian中叫hao_du的作者发表最少的是('hao_du', 49)，最多的是('wei_chen', 2911)

('hao_du', 49)
('wei_chen', 2911)

In [25]:
sum([v for v in co_pubs.values()])/len(co_pubs)#平均发表463.23125

463.23125

In [26]:
import pandas as pd
df_pubs = pd.DataFrame(train_pub)

In [27]:
df_pubs = df_pubs.T

In [28]:
df_pubs.index = range(df_pubs.shape[0])

In [29]:
df_pubs.head()

,id,title,abstract,keywords,authors,venue,year
0,QDMcmF8V,A 1H-NMR plasma metabonomic study of acute and...,To investigate and compare the metabonomic pro...,"[AcAc, BCAAs, β-HB, CPMG, CUMS, D, O, FST, Leu...","[{'name': 'Biyun Shi', 'org': 'College of Chem...",Behavioural Brain Research,2013
1,o731Ylil,Analysis of the mechanisms underlying the vaso...,The aim of the present study was to evaluate t...,"[Coptisine, Vasorelaxation, Aorta, Endothelium...","[{'name': 'Li-Li Gong', 'org': 'Chinese Acad M...",AMERICAN JOURNAL OF CHINESE MEDICINE,2012
2,YRDwwNV5,Correlation between Effect of Icariin on Learn...,Objective:To probe the correlation between the...,"[icariin, learning and memory, senescence acce...","[{'name': 'ZHOU Wei-qin', 'org': 'Institute of...",Chinese Journal of Experimental Traditional Me...,2009
3,YgYV6410,Cloning and expression of human lectin-like ox...,Lectin-like oxidatively-modified LDL receptor-...,"[heterologous expression, LOX-1, Pichia pastor...","[{'name': 'Zhentai Huang', 'org': 'Department ...",Biotechnology LettersFEBS Lett.Arterioscler. T...,2005
4,atC3Wbnp,Ramulus Cinnamomi extract attenuates neuroinfl...,"Ramulus Cinnamomi (RC), a traditional Chinese ...","[BV2 cells, Ramulus Cinnamomi, TLR4/ MyD88 sig...","[{'name': 'Huan Yang', 'org': 'Beijing Key Lab...",Neural regeneration research,2017

In [30]:
len(df_pubs.loc[0,'title'].split())

15

In [31]:
df_pubs['title_len'] = df_pubs['title'].apply(lambda x: len(x.split()))

In [32]:
df_pubs['abstract_len'] = df_pubs['abstract'].apply(lambda x: len(x.split()))

In [33]:
df_pubs['num_keywds'] = df_pubs['keywords'].apply(lambda x: len(x))

In [34]:
df_pubs['num_author'] = df_pubs['authors'].apply(lambda x: len(x))

In [160]:
df_pubs.describe()

          title_len  abstract_len    num_keywds    num_author
count  73835.000000  73835.000000  73835.000000  73835.000000
mean      12.934922    139.540408      3.824744      5.969405
std        4.691245    329.065581      4.552476      3.721309
min        1.000000      0.000000      0.000000      1.000000
25%       10.000000     41.000000      0.000000      4.000000
50%       12.000000    121.000000      4.000000      5.000000
75%       16.000000    184.000000      5.000000      7.000000
max      101.000000  14971.000000     93.000000     50.000000

In [35]:
df_pubs.title_len.describe()

count    73835.000000
mean        12.934922
std          4.691245
min          1.000000
25%         10.000000
50%         12.000000
75%         16.000000
max        101.000000
Name: title_len, dtype: float64

In [37]:
valid_pub = load_json(base, 'sna-valid/sna_valid_pub.json')
valid = load_json(base, 'sna-valid/sna_valid_raw.json')
len(valid),len(valid_pub)

(80, 46287)

In [38]:
valid_aid = set()
valid_pid = set()
for i in valid:
    for j in valid[i]:
        valid_pid.add(j)

In [39]:
len(valid_pid)

46287

In [40]:
val_pubs = {}
for i in valid:
    val_pubs[i] = len(valid[i])

In [41]:
val_name2pubs = sorted([(k,v) for k,v in val_pubs.items()],key=lambda x: x[1])
print(val_name2pubs[0])
print(val_name2pubs[-1])

('mang_wang', 335)
('jun_wang', 1885)

In [42]:
sum([v for v in val_pubs.values()])/len(val_pubs)#平均发表463.23125

579.5875

In [43]:
import pandas as pd
df_pubs2 = pd.DataFrame(valid_pub)
df_pubs2 = df_pubs2.T
df_pubs2.index = range(df_pubs2.shape[0])

In [44]:
df_pubs2.shape

(46287, 7)

In [45]:
df_pubs2['title_len'] = df_pubs2['title'].apply(lambda x: len(x.split()))
df_pubs2['abstract_len'] = df_pubs2['abstract'].apply(lambda x: len(x.split()))
df_pubs2['num_keywds'] = df_pubs2['keywords'].apply(lambda x: len(x))
df_pubs2['num_author'] = df_pubs2['authors'].apply(lambda x: len(x))

In [46]:
df_pubs2.describe()

          title_len  abstract_len    num_keywds    num_author
count  46287.000000  46287.000000  46287.000000  46287.000000
mean      13.038434    138.478731      3.783589      6.090479
std        4.744527    308.368958      4.365702      3.483193
min        1.000000      0.000000      0.000000      1.000000
25%       10.000000     45.000000      0.000000      4.000000
50%       12.000000    120.000000      4.000000      5.000000
75%       16.000000    180.000000      5.000000      7.000000
max       99.000000  12472.000000     82.000000     50.000000